
body{

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    background: url('../images/calimg.jpg');
    
}

.container{

    width: 100%;
    max-width: 960px;
    margin: 0 auto;

}

h1{
   text-align: center;
   padding:5%;

}

#main-section{

    display:flex;
    justify-content:space-between;
}

#calcontainer{
     
    display: grid;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows:repeat(4,80px);
}

#calresult{
    border: 1px solid;
    width: 50%;
    height: 250px;
}

#clear{

    
}